.hpx-logo {
    width: 8em;
    height: 8em;
    margin: auto;
    transition:all 0.5s ease
}

.hpx-logo.small {
    width: 5em;
    height: 5em;
}

.text-center {
    text-align: center;
}

.browser-popup {
    width: 355pt;
    max-height: 350pt;
    transition:all 0.5s ease
}