body {
    width: 355pt;
    min-height: 70pt;
}

.hpx-logo {
    width: 8em;
    height: 8em;
    margin: auto;
    transition:all 0.5s ease
}

.hpx-logo.small {
    width: 6em;
    height: 6em;
}

.text-center {
    text-align: center;
}

.browser-popup {
    transition:all 0.5s ease
}

.ui.segment.waiting {
    height: 200pt;
}

.float-right {
    float: right;
}


.float-left {
    float: left;
}

.muted, .ui.header.muted {
    color: rgba(0, 0, 0, 0.2);
}

.ui.placeholder.segment.not-available, #buttons {
    min-height: 10em;
}

.mr-1 {
    margin-right: 0.2em;
}

.mr-2 {
    margin-right: 0.4em;
}

.ml-1 {
    margin-left: 0.2em;
}

.ml-2 {
    margin-left: 0.4em;
}